.map-test {
  width: 100%;
  height: 100%;
}

.map-test .locate-me-container {
  position: absolute;
  bottom: 40px;
  right: 10px;
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
